<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>157650798670-h579std0080u3vtu4tm1adv40hc6o7s4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157650798670-h579std0080u3vtu4tm1adv40hc6o7s4</string>
	<key>API_KEY</key>
	<string>AIzaSyDxjTucvHWJ1gkaT35RsOSxVoObc05HINQ</string>
	<key>GCM_SENDER_ID</key>
	<string>157650798670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nefster.hyperloop</string>
	<key>PROJECT_ID</key>
	<string>hyperloop-1bbc6</string>
	<key>STORAGE_BUCKET</key>
	<string>hyperloop-1bbc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157650798670:ios:998077a534d4e7df</string>
	<key>DATABASE_URL</key>
	<string>https://hyperloop-1bbc6.firebaseio.com</string>
</dict>
</plist>